<h1>Listing partition_platforms</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @partition_platforms.each do |partition_platform| %>
  <tr>
    <td><%= link_to 'Show', partition_platform %></td>
    <td><%= link_to 'Edit', edit_partition_platform_path(partition_platform) %></td>
    <td><%= link_to 'Destroy', partition_platform, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Partition platform', new_partition_platform_path %>
