<p id="notice"><%= notice %></p>

<% if current_user.try(:admin?) %>

  <%= link_to 'Edit', edit_partition_platform_path(@partition_platform) %> | 
  <%end%>
  
<%= link_to 'Back', partition_platforms_path %>
