@charset "UTF-8";
/* 
 * This css will include all web-app-theme css you need
 *
 *= require web-app-theme/base
 *= require web-app-theme/themes/default/style.css
 *= require_self
 */
/* line 10, ../../app/assets/stylesheets/browsers.scss */
#main {
  margin-left: 40px;
}

/* line 17, ../../app/assets/stylesheets/browsers.scss */
#browser_form input#browser_hostname {
  font-size: 18px;
  background: url(input-box-white387a.png) left center no-repeat;
  height: 43px;
  width: 451px;
  border: 0px;
  padding-top: 10px;
  padding-bottom: 3px;
  padding-left: 18px;
  margin-right: 15px;
  outline: none;
}
/* line 30, ../../app/assets/stylesheets/browsers.scss */
#browser_form input:hover {
  background: url(input-box-white387b.png) transparent left center no-repeat;
}
/* line 34, ../../app/assets/stylesheets/browsers.scss */
#browser_form input:focus {
  background: url(input-box-white387a.png) transparent left center no-repeat;
}
/* line 38, ../../app/assets/stylesheets/browsers.scss */
#browser_form ​
li {
  clear: none;
  float: left;
  padding: 10px;
  padding-top: 10px;
  font-size: 18px;
  height: 10px;
  margin-right: 40px;
  border: 0px;
  list-style-type: none;
}
/* line 51, ../../app/assets/stylesheets/browsers.scss */
#browser_form label {
  font-size: 18px;
}
/* line 54, ../../app/assets/stylesheets/browsers.scss */
#browser_form .choices, #browser_form .buttons {
  border: 0px;
}
/* line 57, ../../app/assets/stylesheets/browsers.scss */
#browser_form ol, #browser_form li {
  list-style-type: none;
}
/* line 60, ../../app/assets/stylesheets/browsers.scss */
#browser_form #browser_datacenter_input {
  width: 240px;
  height: 34px;
  overflow: hidden;
  background: url(down_arrow_select.jpg) no-repeat right #dddddd;
}
/* line 67, ../../app/assets/stylesheets/browsers.scss */
#browser_form #browser_datacenter_input select {
  background: transparent;
  width: 268px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
}
