<h1>Home</h1>

<div id="journal">
<%= link_to "Journal", "/journal" %>
</div>
<div id="browsers">
<%= link_to "Browsers", browsers_path%>
</div>
<div id="phonos">
<%= link_to "Phonos", phonos_path%>

</div>
