<table border="0" cellspacing="5" cellpadding="5">
  <tr>
    <th>Zone</th>
    <th>Status</th>
  </tr>
  <tr>
    <td>Romeo</td>
      <td>
        <div id="romeo_routing_div" class="routingButton" data_browser_hostname=<%=@browser.hostname%> data_in_routing=<%=@romeo.in?%>></div>
      <td>
   </tr>
   <tr>
     <td>Outbound</td>
      <td>
        <div id="outbound_routing_div" class="routingButton" data_browser_hostname=<%=@browser.hostname%> data_in_routing=<%=@outbound.in?%>></div>
      </td>
    </tr>
</table>
