/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require formtastic 
 *= require demo_table_jui.css 
 *= require jquery-ui-1.8.16.custom.css
 *= require_tree . 

*/

@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}
*[id*='phono_']{
  width: 150px;
  margin-right: auto;
  display: table-cell;
    margin-left: auto;  
  vertical-align: middle;
}
div.jquery-ajax-loader {
  background: #333 url(spinners/jquery.ajaxLoader.gif) no-repeat 50% 50%;
  width: 145px;
  opacity: .6;
}